*.exe
*.o
*.obj
*.so
*.dll
*.out


build/
Debug/
Release/
x64/
.vs/
CMakeFiles/


.vscode/
.idea/
*.sln
*.vcxproj*
*.suo


*.pid
*.log
*.pdb
*.ilk


leaderboard.txt
battleship_server.pid


*.tmp
*.temp


CMakeCache.txt
cmake_install.cmake
Makefile


.DS_Store